body{
    background-color: hsl(212, 45%, 89%);
}
.main-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
@media all and(min-width:500px){
   .main-box{
    width: 100%;
   }
   
}

@media all and(max-width:  1440px){
    .main-box{
     width: 100%;
    }
}
.card{
    width: 300px;
    height:440px;
    background-color: white; 
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    text-align: center;

} 
img{
    width: 270px;
    height: 270px;
    border-radius: 10px;
    display: flex;
    align-self: auto;
    margin-top: 10px;
}

h5{
    color:  hsl(218, 44%, 22%);
    font-weight: bold;
    padding-left: 22px;
    padding-right: 22px;
    margin-top: 15px;
    margin-bottom: 10px;

}
p{
    color: hsl(220, 15%, 55%);
    font-size: 14px;
    font-weight:initial;
    padding-left: 22px;
    padding-right: 22px;

}
